{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
      {% if publicaciones.published_date %}
        <div class="date">
          {{ publicaciones.published_date }}
        </div>
      {% else %}
        <a class="btn btn-default" href="{% url 'post_publicar' pk=publicaciones.pk %}">Publicar</a>
      {% endif %}
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_editar' pk=publicaciones.pk %}"><span class="fa fa-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'post_eliminar' pk=publicaciones.pk %}"><span class="fa fa-remove"></span></a>
        {% endif %}
        <h2>{{ publicaciones.titulo }}</h2>
        <p>{{ publicaciones.texto|linebreaksbr }}</p>
    </div>
{% endblock %}
